body {
  margin: 0;
  font-family: verdana;
  font-size: 2rem;
  color: rgb(0, 30, 17);
  background-color: #fbfdfd
}

#loginPage{ 
  font-size: 2rem;
  margin: 2rem auto;
  padding: 0 3rem;
  width: 350px;
  text-align: center;
  border: 2px solid #DAF0EE;
  border-radius: 1rem;
  box-shadow: 4px 4px 1rem #DAF0EE;
}
#placesPage{ 
  font-size: 2rem;
  margin: auto;
  padding: 1rem;
  width: 95%;
  text-align: center;
  /* border: 2px solid #DAF0EE; */
  border-radius: 1rem;
  /* box-shadow: 4px 4px 1rem #DAF0EE; */
}

#categoryButtonContainer{
  display: flex;
  min-width: fit-content;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 75%;
  padding: 1rem;
  margin: auto;
}

#categoryContainer{
  font-size: 4rem;
  box-sizing: content-box;
  width: 95%;
  margin: 4rem auto;
  padding: 0;
  text-align: center;
  border-bottom: 2px solid #DAF0EE;
  border-radius: 1rem;
  box-shadow: 2px 2px .5rem #DAF0EE;
}

#categoryHeader{
  font-variant: small-caps;
  font-weight: 700;
  box-sizing: border-box;
  padding: 1rem 0 1rem 3rem;
  color:#fbfdfd;
  text-align: left;
  margin-bottom: 2rem;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  background: dodgerblue;
  width: 100%;
}

#opensSoon{
  font-size: 1.2rem;
  color: red;
  font-style: italic;
}

form {
  /* font-size: inherit; */
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
  /* font-size: inherit; */

}

#welcomePage{
  text-align: center;
  font-size: 3rem;
  margin: 1rem;
  color: rgb(0, 30, 17);
  
}