body {
  margin: 0;
  font-family: verdana;
  font-size: 2rem;
  color: rgb(0, 30, 17)
}

#loginPage{ 
  font-size: 2rem;
  margin: 2rem auto;
  padding: 0 3rem;
  width: 350px;
  text-align: center;
  border: 2px solid #DAF0EE;
  border-radius: 1rem;
  box-shadow: 4px 4px 1rem #DAF0EE;
}
#placesPage{ 
  font-size: 2rem;
  margin: auto;
  padding: 1rem;
  width: 95%;
  text-align: center;
  border: 2px solid #DAF0EE;
  border-radius: 1rem;
  box-shadow: 4px 4px 1rem #DAF0EE;
}

#categoryContainer{
  font-size: 2rem;
  box-sizing: content-box;
  width: 550px;
  margin: 2rem auto;
  padding: 0 3rem;
  text-align: center;
  border: 2px solid #DAF0EE;
  border-radius: 1rem;
  box-shadow: 2px 2px .5rem #DAF0EE;
}

#opensSoon{
  font-size: 1.2rem;
  color: red;
  font-style: italic;
}

form {
  /* font-size: inherit; */
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
  /* font-size: inherit; */

}

#welcomePage{
  text-align: center;
  margin: 1rem;
  color: rgb(0, 30, 17)
}