body {
  margin: auto;
  font-family: verdana;
  font-size: 2rem;
  color: rgb(0, 30, 17);
  background-color: #fbfdfd
}

#loginPage{ 
  font-size: 2rem;
  margin: 2rem auto;
  padding: 0 3rem;
  width: 450px;
  text-align: center;
  border: 2px solid #A2A3BB;
  border-radius: 1rem;
  box-shadow: 4px 4px 1rem #A2A3BB;
}
#placesPage{ 
  font-size: 2rem;
  margin: auto;
  padding: 2rem;
  width: 90%;
  text-align: center;
  border: 2px solid #DAF0EE;
  border-radius: 1rem;
  /* box-shadow: 4px 4px 1rem #DAF0EE; */
}

#settingsContainer{
  max-width: 700px
}

#aboutPage{
  font-size: 2rem;
  box-sizing: content-box;
  max-width: 700px;
  margin: 2rem auto;
  padding: 2rem;
  text-align: left;
  border-bottom: 4px solid #A2A3BB;
  border-left: 1px solid #A2A3BB;
  border-radius: 1rem;
  box-shadow: 2px 2px .5rem #A2A3BB;
}

#categoryButtonContainer{
  display: flex;
  min-width: fit-content;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 65%;
  padding: 1rem;
  margin: auto;
}

#categoryContainer{
  font-size: 4rem;
  box-sizing: content-box;
  width: 95%;
  margin: 2rem auto;
  padding: 0;
  text-align: center;
  border-bottom: 4px solid #A2A3BB;
  border-left: 1px solid #A2A3BB;
  border-radius: 1rem;
  box-shadow: 2px 2px .5rem #A2A3BB;
}

#categoryHeader{
  font-variant: small-caps;
  font-weight: 700;
  box-sizing: border-box;
  padding: 1rem 0 1rem 3rem;
  color:#fbfdfd;
  text-align: left;
  margin-bottom: 2rem;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  background: #1C5D99;
  width: 100%;
}

#opensSoon{
  font-size: 1.2rem;
  color: red;
  font-style: italic;
}
#openNow{
  font-size: 1.2rem;
  color: green;
  font-style: italic;
}

form {
  /* font-size: inherit; */
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
  /* font-size: inherit; */

}

#welcomePage{
  text-align: center;
  font-size: 2.5rem;
  margin: 1rem;
  color: rgb(0, 30, 17);
}
#welcomeSmaller{
  text-align: center;
  font-size: 1.8rem;
  margin: 1rem;
  color: rgb(0, 30, 17);
}

.favoriteButton {
  color: red;
}
.notFavoriteButton {
  color: inherit;
}